p.minorerrata{
  text-indent:90px;
  color:#cec;
}

p.majorerrata{
  text-indent:90px;
  color:#ee9;
}

p.retracterrata{
  text-indent:90px;
  color:#e99
}

p.erratadate{
  color:#777;
  font-family:monospace;
  font-weight:bold}

cite{
  color:#eee;
  font-family:"Times New Roman";
  font-size:90%;
  font-style:italic;
  text-align:right
}
